{
   "openapi": "3.0.0",
   "info": {
     "version": "1.0.0",
     "title": "Metal API",
     "contact": {
       "email": "support@equinixmetal.com",
       "name": "Equinix Metal API Team"
     },
     "description": "This is the API for Equinix Metal. The API allows you to programmatically interact with all\nof your Equinix Metal resources, including devices, networks, addresses, organizations,\nprojects, and your user account.\n\nThe official API docs are hosted at <https://metal.equinix.com/developers/api>.\n",
     "license": {
       "name": "Equinix Metal",
       "url": "https://metal.equinix.com/legal/"
     },
     "termsOfService": "https://metal.equinix.com/legal/"
   },
   "security": [
     {
       "x_auth_token": []
     }
   ],
   "servers": [
     {
       "url": "https://api.equinix.com/metal/v1"
     }
   ],
   "components": {
     "parameters": {
       "Page": {
         "description": "Page to return",
         "in": "query",
         "name": "page",
         "schema": {
           "default": 1,
           "format": "int32",
           "maximum": 100000,
           "minimum": 1,
           "type": "integer"
         }
       },
       "PerPage": {
         "description": "Items returned per page",
         "in": "query",
         "name": "per_page",
         "schema": {
           "default": 10,
           "format": "int32",
           "maximum": 1000,
           "minimum": 1,
           "type": "integer"
         }
       },
       "Include": {
         "description": "Nested attributes to include. Included objects will return their full\nattributes. Attribute names can be dotted (up to 3 levels) to included deeply\nnested objects.",
         "in": "query",
         "name": "include",
         "schema": {
           "items": {
             "type": "string"
           },
           "type": "array"
         },
         "style": "form",
         "explode": false
       },
       "Exclude": {
         "description": "Nested attributes to exclude. Excluded objects will return only the href\nattribute. Attribute names can be dotted (up to 3 levels) to exclude deeply\nnested objects.",
         "in": "query",
         "name": "exclude",
         "schema": {
           "items": {
             "type": "string"
           },
           "type": "array"
         },
         "style": "form",
         "explode": false
       }
     },
     "requestBodies": {
       "InterconnectionCreateInput": {
         "content": {
           "application/json": {
             "schema": {
               "$ref": "#/components/schemas/InterconnectionCreateInput"
             }
           }
         },
         "description": "Connection details",
         "required": true
       },
       "InvitationInput": {
         "content": {
           "application/json": {
             "schema": {
               "$ref": "#/components/schemas/InvitationInput"
             }
           }
         },
         "description": "Invitation to create",
         "required": true
       },
       "PortAssignInput": {
         "content": {
           "application/json": {
             "schema": {
               "$ref": "#/components/schemas/PortAssignInput"
             }
           }
         },
         "description": "Virtual Network ID. May be the UUID of the Virtual Network record, or the VLAN value itself (ex: '1001').",
         "required": true
       },
       "SSHKeyCreateInput": {
         "content": {
           "application/json": {
             "schema": {
               "$ref": "#/components/schemas/SSHKeyCreateInput"
             }
           }
         },
         "description": "ssh key to create",
         "required": true
       }
     },
     "schemas": {
       "Address": {
         "properties": {
           "address": {
             "type": "string"
           },
           "address2": {
             "type": "string"
           },
           "city": {
             "type": "string"
           },
           "coordinates": {
             "$ref": "#/components/schemas/Coordinates"
           },
           "country": {
             "type": "string"
           },
           "state": {
             "type": "string"
           },
           "zip_code": {
             "type": "string"
           }
         },
         "required": [
           "address",
           "zip_code",
           "country"
         ],
         "type": "object"
       },
       "AuthToken": {
         "properties": {
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "description": {
             "description": "Available only for API keys",
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "project": {
             "allOf": [
               {
                 "$ref": "#/components/schemas/Project"
               },
               {
                 "description": "Available only for project tokens"
               }
             ]
           },
           "read_only": {
             "type": "boolean"
           },
           "token": {
             "type": "string"
           },
           "updated_at": {
             "format": "date-time",
             "type": "string"
           },
           "user": {
             "allOf": [
               {
                 "$ref": "#/components/schemas/User"
               },
               {
                 "description": "Available only for user tokens"
               }
             ]
           }
         },
         "type": "object"
       },
       "AuthTokenInput": {
         "properties": {
           "description": {
             "type": "string"
           },
           "read_only": {
             "type": "boolean"
           }
         },
         "type": "object"
       },
       "AuthTokenList": {
         "properties": {
           "api_keys": {
             "items": {
               "$ref": "#/components/schemas/AuthToken"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "BGPSessionInput": {
         "properties": {
           "address_family": {
             "description": "Address family for BGP session.",
             "enum": [
               "ipv4",
               "ipv6"
             ],
             "example": "ipv4",
             "type": "string"
           },
           "default_route": {
             "default": false,
             "description": "Set the default route policy.",
             "type": "boolean"
           }
         },
         "type": "object"
       },
       "Batch": {
         "properties": {
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "devices": {
             "items": {
               "$ref": "#/components/schemas/Href"
             },
             "type": "array"
           },
           "error_messages": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "project": {
             "$ref": "#/components/schemas/Href"
           },
           "quantity": {
             "type": "integer"
           },
           "state": {
             "type": "string"
           },
           "updated_at": {
             "format": "date-time",
             "type": "string"
           }
         },
         "type": "object"
       },
       "BatchesList": {
         "properties": {
           "batches": {
             "items": {
               "$ref": "#/components/schemas/Batch"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "BgpConfig": {
         "properties": {
           "asn": {
             "description": "Autonomous System Number. ASN is required with Global BGP. With Local BGP the private ASN, 65000, is assigned.",
             "example": 65000,
             "format": "int32",
             "type": "integer"
           },
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "deployment_type": {
             "description": "In a Local BGP deployment, a customer uses an internal ASN to control routes within a single Equinix Metal datacenter. This means that the routes are never advertised to the global Internet. Global BGP, on the other hand, requires a customer to have a registered ASN and IP space.\n",
             "enum": [
               "global",
               "local"
             ],
             "example": "local",
             "type": "string"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "max_prefix": {
             "default": 10,
             "description": "The maximum number of route filters allowed per server",
             "type": "integer"
           },
           "md5": {
             "description": "(Optional) Password for BGP session in plaintext (not a checksum)",
             "nullable": true,
             "type": "string"
           },
           "project": {
             "$ref": "#/components/schemas/Href"
           },
           "ranges": {
             "description": "The IP block ranges associated to the ASN (Populated in Global BGP only)",
             "items": {
               "$ref": "#/components/schemas/GlobalBgpRange"
             },
             "type": "array"
           },
           "requested_at": {
             "format": "date-time",
             "type": "string"
           },
           "route_object": {
             "description": "Specifies AS-MACRO (aka AS-SET) to use when building client route filters",
             "type": "string"
           },
           "sessions": {
             "description": "The direct connections between neighboring routers that want to exchange routing information.",
             "items": {
               "$ref": "#/components/schemas/BgpSession"
             },
             "type": "array"
           },
           "status": {
             "description": "Status of the BGP Config. Status \"requested\" is valid only with the \"global\" deployment_type.",
             "enum": [
               "requested",
               "enabled",
               "disabled"
             ],
             "type": "string"
           }
         },
         "type": "object"
       },
       "BgpConfigRequestInput": {
         "properties": {
           "asn": {
             "type": "integer"
           },
           "deployment_type": {
             "type": "string"
           },
           "md5": {
             "type": "string"
           },
           "use_case": {
             "type": "string"
           }
         },
         "required": [
           "deployment_type",
           "asn"
         ],
         "type": "object"
       },
       "BgpNeighborData": {
         "properties": {
           "address_family": {
             "description": "Address Family for IP Address. Accepted values are 4 or 6",
             "example": 4,
             "format": "integer",
             "type": "number"
           },
           "customer_as": {
             "description": "The customer's ASN. In a local BGP deployment, this will be an internal ASN used to route within the data center. For a global BGP deployment, this will be the your own ASN, configured when you set up BGP for your project.",
             "example": 65000,
             "format": "integer",
             "type": "number"
           },
           "customer_ip": {
             "description": "The device's IP address. For an IPv4 BGP session, this is typically the private bond0 address for the device.",
             "example": "10.32.16.1 (IPv4) or 2604:1380:4111:2700::1 (IPv6)",
             "type": "string"
           },
           "md5_enabled": {
             "description": "True if an MD5 password is configured for the project.",
             "type": "boolean"
           },
           "md5_password": {
             "description": "The MD5 password configured for the project, if set.",
             "type": "string"
           },
           "multihop": {
             "description": "True when the BGP session should be configured as multihop.",
             "type": "boolean"
           },
           "peer_as": {
             "description": "The Peer ASN to use when configuring BGP on your device.",
             "example": 65530,
             "format": "integer",
             "type": "number"
           },
           "peer_ips": {
             "description": "A list of one or more IP addresses to use for the Peer IP section of your BGP configuration. For non-multihop sessions, this will typically be a single gateway address for the device. For multihop sessions, it will be a list of IPs.",
             "example": [
               "169.254.255.1",
               "169.254.255.2"
             ],
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "routes_in": {
             "description": "A list of project subnets",
             "items": {
               "properties": {
                 "exact": {
                   "type": "boolean"
                 },
                 "route": {
                   "description": "A project network",
                   "example": "10.32.16.0/31",
                   "type": "string"
                 }
               },
               "type": "object"
             },
             "type": "array"
           },
           "routes_out": {
             "description": "A list of outgoing routes. Only populated if the BGP session has default route enabled.",
             "items": {
               "properties": {
                 "exact": {
                   "type": "boolean"
                 },
                 "route": {
                   "example": "0.0.0.0/0",
                   "type": "string"
                 }
               },
               "type": "object"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "BgpSession": {
         "properties": {
           "address_family": {
             "enum": [
               "ipv4",
               "ipv6"
             ],
             "type": "string"
           },
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "default_route": {
             "type": "boolean"
           },
           "device": {
             "$ref": "#/components/schemas/Href"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "learned_routes": {
             "items": {
               "description": "IPv4 or IPv6 range",
               "example": "10.32.16.0/31",
               "type": "string"
             },
             "type": "array"
           },
           "status": {
             "description": " The status of the BGP Session. Multiple status values may be reported when the device is connected to multiple switches, one value per switch. Each status will start with \"unknown\" and progress to \"up\" or \"down\" depending on the connected device. Subsequent \"unknown\" values indicate a problem acquiring status from the switch. ",
             "enum": [
               "unknown",
               "up",
               "down"
             ],
             "type": "string"
           },
           "updated_at": {
             "format": "date-time",
             "type": "string"
           }
         },
         "required": [
           "address_family"
         ],
         "type": "object"
       },
       "BgpSessionList": {
         "properties": {
           "bgp_sessions": {
             "items": {
               "$ref": "#/components/schemas/BgpSession"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "BgpSessionNeighbors": {
         "properties": {
           "bgp_neighbors": {
             "description": "A list of BGP session neighbor data",
             "items": {
               "$ref": "#/components/schemas/BgpNeighborData"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "CapacityCheckPerFacilityInfo": {
         "properties": {
           "available": {
             "type": "boolean"
           },
           "facility": {
             "type": "string"
           },
           "plan": {
             "type": "string"
           },
           "quantity": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "CapacityCheckPerFacilityList": {
         "properties": {
           "servers": {
             "items": {
               "$ref": "#/components/schemas/CapacityCheckPerFacilityInfo"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "CapacityCheckPerMetroInfo": {
         "properties": {
           "available": {
             "description": "Returns true if there is enough capacity in the metro to fulfill the quantity set. Returns false if there is not enough.",
             "type": "boolean"
           },
           "metro": {
             "description": "The metro ID or code sent to check capacity.",
             "type": "string"
           },
           "plan": {
             "description": "The plan ID or slug sent to check capacity.",
             "type": "string"
           },
           "quantity": {
             "description": "The number of servers sent to check capacity.",
             "type": "string"
           }
         },
         "type": "object"
       },
       "CapacityCheckPerMetroList": {
         "properties": {
           "servers": {
             "items": {
               "$ref": "#/components/schemas/CapacityCheckPerMetroInfo"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "CapacityInput": {
         "properties": {
           "servers": {
             "items": {
               "$ref": "#/components/schemas/ServerInfo"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "CapacityLevelPerBaremetal": {
         "properties": {
           "level": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "CapacityList": {
         "properties": {
           "capacity": {
             "$ref": "#/components/schemas/CapacityReport"
           }
         },
         "type": "object"
       },
       "CapacityPerFacility": {
         "properties": {
           "baremetal_0": {
             "$ref": "#/components/schemas/CapacityLevelPerBaremetal"
           },
           "baremetal_1": {
             "$ref": "#/components/schemas/CapacityLevelPerBaremetal"
           },
           "baremetal_2": {
             "$ref": "#/components/schemas/CapacityLevelPerBaremetal"
           },
           "baremetal_2a": {
             "$ref": "#/components/schemas/CapacityLevelPerBaremetal"
           },
           "baremetal_2a2": {
             "$ref": "#/components/schemas/CapacityLevelPerBaremetal"
           },
           "baremetal_3": {
             "$ref": "#/components/schemas/CapacityLevelPerBaremetal"
           },
           "baremetal_s": {
             "$ref": "#/components/schemas/CapacityLevelPerBaremetal"
           },
           "c2.medium.x86": {
             "$ref": "#/components/schemas/CapacityLevelPerBaremetal"
           },
           "m2.xlarge.x86": {
             "$ref": "#/components/schemas/CapacityLevelPerBaremetal"
           }
         },
         "type": "object"
       },
       "CapacityPerMetroInput": {
         "properties": {
           "servers": {
             "items": {
               "$ref": "#/components/schemas/MetroServerInfo"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "CapacityPerNewFacility": {
         "properties": {
           "baremetal_1e": {
             "$ref": "#/components/schemas/CapacityLevelPerBaremetal"
           }
         },
         "type": "object"
       },
       "CapacityReport": {
         "properties": {
           "ams1": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "atl1": {
             "$ref": "#/components/schemas/CapacityPerNewFacility"
           },
           "dfw1": {
             "$ref": "#/components/schemas/CapacityPerNewFacility"
           },
           "ewr1": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "fra1": {
             "$ref": "#/components/schemas/CapacityPerNewFacility"
           },
           "iad1": {
             "$ref": "#/components/schemas/CapacityPerNewFacility"
           },
           "lax1": {
             "$ref": "#/components/schemas/CapacityPerNewFacility"
           },
           "nrt1": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "ord1": {
             "$ref": "#/components/schemas/CapacityPerNewFacility"
           },
           "sea1": {
             "$ref": "#/components/schemas/CapacityPerNewFacility"
           },
           "sin1": {
             "$ref": "#/components/schemas/CapacityPerNewFacility"
           },
           "sjc1": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "syd1": {
             "$ref": "#/components/schemas/CapacityPerNewFacility"
           },
           "yyz1": {
             "$ref": "#/components/schemas/CapacityPerNewFacility"
           }
         },
         "type": "object"
       },
       "Coordinates": {
         "properties": {
           "latitude": {
             "type": "string"
           },
           "longitude": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "CreateEmailInput": {
         "properties": {
           "address": {
             "type": "string"
           }
         },
         "required": [
           "address"
         ],
         "type": "object"
       },
       "CreateSelfServiceReservationRequest": {
         "properties": {
           "item": {
             "items": {
               "$ref": "#/components/schemas/SelfServiceReservationItemRequest"
             },
             "type": "array"
           },
           "notes": {
             "type": "string"
           },
           "period": {
             "properties": {
               "count": {
                 "enum": [
                   12,
                   36
                 ],
                 "type": "number"
               },
               "unit": {
                 "enum": [
                   "monthly"
                 ],
                 "type": "string"
               }
             },
             "type": "object"
           },
           "start_date": {
             "format": "date-time",
             "type": "string"
           }
         },
         "type": "object"
       },
       "Device": {
         "properties": {
           "always_pxe": {
             "type": "boolean"
           },
           "billing_cycle": {
             "type": "string"
           },
           "bonding_mode": {
             "type": "integer"
           },
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "created_by": {
             "allOf": [
               {
                 "$ref": "#/components/schemas/UserLite"
               },
               {
                 "description": "The user that created the device."
               }
             ]
           },
           "customdata": {
             "type": "object"
           },
           "description": {
             "type": "string"
           },
           "facility": {
             "$ref": "#/components/schemas/Facility"
           },
           "hardware_reservation": {
             "$ref": "#/components/schemas/Href"
           },
           "hostname": {
             "type": "string"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "image_url": {
             "type": "string"
           },
           "ip_addresses": {
             "items": {
               "$ref": "#/components/schemas/IPAssignment"
             },
             "type": "array"
           },
           "ipxe_script_url": {
             "type": "string"
           },
           "iqn": {
             "type": "string"
           },
           "locked": {
             "type": "boolean"
           },
           "metro": {
             "allOf": [
               {
                 "$ref": "#/components/schemas/Metro"
               },
               {
                 "description": "The metro the facility is in"
               }
             ]
           },
           "network_ports": {
             "items": {
                "$ref": "#/components/schemas/Port"
              },
              "type": "array"
            },
           "operating_system": {
             "$ref": "#/components/schemas/OperatingSystem"
           },
           "actions":{
              "items": {
                "properties" :{
                  "type": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
           },
           "plan": {
             "$ref": "#/components/schemas/Plan"
           },
           "project": {
             "allOf": [
               {
                 "$ref": "#/components/schemas/Href"
               },
               {
                 "description": "Full version of project object when included"
               }
             ]
           },
           "project_lite": {
             "allOf": [
               {
                 "$ref": "#/components/schemas/Href"
               },
               {
                 "description": "Lite version of project object when included"
               }
             ]
           },
           "provisioning_events": {
             "items": {
               "$ref": "#/components/schemas/Event"
             },
             "type": "array"
           },
           "provisioning_percentage": {
             "description": "Only visible while device provisioning",
             "format": "float",
             "type": "number"
           },
           "root_password": {
             "description": "Root password is automatically generated when server is provisioned and it is removed after 24 hours",
             "type": "string"
           },
           "short_id": {
             "type": "string"
           },
           "spot_instance": {
             "description": "Whether or not the device is a spot instance.",
             "type": "boolean"
           },
           "spot_price_max": {
             "description": "The maximum price per hour you are willing to pay to keep this spot\ninstance.  If you are outbid, the termination will be set allowing two\nminutes before shutdown.",
             "format": "float",
             "type": "number"
           },
           "ssh_keys": {
             "items": {
               "$ref": "#/components/schemas/Href"
             },
             "type": "array"
           },
           "state": {
              "enum": [
                "active",
                "failed",
                "queued",
                "provisioning",
                "reinstalling"
              ],
              "type": "string"
           },
           "switch_uuid": {
             "description": "Switch short id. This can be used to determine if two devices are\nconnected to the same switch, for example.",
             "type": "string"
           },
           "tags": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "termination_time": {
             "description": "When the device will be terminated. This is commonly set in advance for\nephemeral spot market instances but this field may also be set with\non-demand and reservation instances to automatically delete the resource\nat a given time. The termination time can also be used to release a\nhardware reservation instance at a given time, keeping the reservation\nopen for other uses.  On a spot market device, the termination time will\nbe set automatically when outbid.",
             "format": "date-time",
             "type": "string"
           },
           "updated_at": {
             "format": "date-time",
             "type": "string"
           },
           "user": {
             "type": "string"
           },
           "userdata": {
             "type": "string"
           },
           "volumes": {
             "items": {
               "$ref": "#/components/schemas/Href"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "DeviceCreateInput": {
           "properties": {
            "always_pxe": {
              "default": false,
              "description": "When true, devices with a `custom_ipxe` OS will always boot to iPXE. The\ndefault setting of false ensures that iPXE will be used on only the\nfirst boot.",
              "type": "boolean"
            },
            "billing_cycle": {
              "description": "The billing cycle of the device.",
              "enum": [
                "hourly",
                "daily",
                "monthly",
                "yearly"
              ],
              "type": "string"
            },
            "customdata": {
              "description": "Customdata is an arbitrary JSON value that can be accessed via the\nmetadata service.",
              "default": {},
              "type": "object",
              "additionalProperties": true
            },
            "description": {
              "description": "Any description of the device or how it will be used. This may be used\nto inform other API consumers with project access.",
              "type": "string"
            },
            "facility": {
              "description": "The datacenter where the device should be created.\n\nEither metro or facility must be provided.\n\nThe API will accept either a single facility `{ \"facility\": \"f1\" }`, or it can be instructed to create the device in the best available datacenter `{ \"facility\": \"any\" }`.\n\nAdditionally it is possible to set a prioritized location selection. For example `{ \"facility\": [\"f3\", \"f2\", \"any\"] }` can be used to prioritize `f3` and then `f2` before accepting `any` facility. If none of the facilities provided have availability for the requested device the request will fail.",
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "sv15"
              ]
          },
            "features": {
              "description": "The features attribute allows you to optionally specify what features your server should have.\n\nIn the API shorthand syntax, all features listed are `required`:\n\n```\n{ \"features\": [\"tpm\"] }\n```\n\nAlternatively, if you do not require a certain feature, but would prefer to be assigned a server with that feature if there are any available, you may specify that feature with a `preferred` value. The request will not fail if we have no servers with that feature in our inventory. The API offers an alternative syntax for mixing preferred and required features:\n\n```\n{ \"features\": { \"tpm\": \"required\", \"raid\": \"preferred\" } }\n```\n\nThe request will only fail if there are no available servers matching the required `tpm` criteria.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "hardware_reservation_id": {
              "default": "",
              "description": "The Hardware Reservation UUID to provision. Alternatively, `next-available` can be specified to select from any of the available hardware reservations. An error will be returned if the requested reservation option is not available.\n\nSee [Reserved Hardware](https://metal.equinix.com/developers/docs/deploy/reserved/) for more details.",
              "example": "next-available",
              "type": "string"
            },
            "hostname": {
              "description": "The hostname to use within the operating system. The same hostname may be used on multiple devices within a project.",
              "type": "string"
            },
            "ip_addresses": {
              "default": [
                {
                  "address_family": 4,
                  "public": true
                },
                {
                  "address_family": 4,
                  "public": false
                },
                {
                  "address_family": 6,
                  "public": true
                }
              ],
              "description": "The `ip_addresses attribute will allow you to specify the addresses you want created with your device.\n\nThe default value configures public IPv4, public IPv6, and private IPv4.\n\nPrivate IPv4 address is required. When specifying `ip_addresses`, one of the array items must enable private IPv4.\n\nSome operating systems require public IPv4 address. In those cases you will receive an error message if public IPv4 is not enabled.\n\nFor example, to only configure your server with a private IPv4 address, you can send `{ \"ip_addresses\": [{ \"address_family\": 4, \"public\": false }] }`.\n\nIt is possible to request a subnet size larger than a `/30` by assigning addresses using the UUID(s) of ip_reservations in your project.\n\nFor example, `{ \"ip_addresses\": [..., {\"address_family\": 4, \"public\": true, \"ip_reservations\": [\"uuid1\", \"uuid2\"]}] }`\n\nTo access a server without public IPs, you can use our Out-of-Band console access (SOS) or proxy through another server in the project with public IPs enabled.",
              "items": {
                "properties": {
                  "address_family": {
                    "description": "Address Family for IP Address",
                    "enum": [
                      4,
                      6
                    ],
                    "example": 4,
                    "format": "integer",
                    "type": "number"
                  },
                  "cidr": {
                    "description": "Cidr Size for the IP Block created. Valid values depends on the operating system being provisioned. (28..32 for IPv4 addresses, 124..127 for IPv6 addresses)",
                    "example": 28,
                    "format": "integer",
                    "type": "number"
                  },
                  "ip_reservations": {
                    "description": "UUIDs of any IP reservations to use when assigning IPs",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "public": {
                    "default": true,
                    "description": "Address Type for IP Address",
                    "example": false,
                    "type": "boolean"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "ipxe_script_url": {
              "description": "When set, the device will chainload an iPXE Script at boot fetched from the supplied URL.\n\nSee [Custom iPXE](https://metal.equinix.com/developers/docs/operating-systems/custom-ipxe/) for more details.",
              "externalDocs": {
                "url": "https://metal.equinix.com/developers/docs/operating-systems/custom-ipxe/"
              },
              "type": "string"
            },
            "locked": {
              "default": false,
              "description": "Whether the device should be locked, preventing accidental deletion.",
              "type": "boolean"
            },
            "metro": {
              "description": "Metro code or ID of where the instance should be provisioned in.\n\nEither metro or facility must be provided.",
              "type": "string",
              "example": "sv"
            },
            "no_ssh_keys": {
              "default": false,
              "description": "Overrides default behaviour of attaching all of the organization members ssh keys and project ssh keys to device if no specific keys specified",
              "type": "boolean"
            },
            "operating_system": {
              "description": "The slug of the operating system to provision. Check the Equinix Metal operating system documentation for rules that may be imposed per operating system, including restrictions on IP address options and device plans.",
              "type": "string"
            },
            "plan": {
              "description": "The slug of the device plan to provision.",
              "type": "string",
              "example": "c3.large.x86"
            },
            "private_ipv4_subnet_size": {
              "default": 28,
              "description": "Deprecated. Use ip_addresses. Subnet range for addresses allocated to this device.",
              "format": "integer",
              "type": "number",
              "x-deprecated": true
            },
            "project_ssh_keys": {
              "description": "A list of UUIDs identifying the device parent project\nthat should be authorized to access this device (typically\nvia /root/.ssh/authorized_keys). These keys will also appear in the device metadata.\n\nIf no SSH keys are specified (`user_ssh_keys`, `project_ssh_keys`, and `ssh_keys` are all empty lists or omitted),\nall parent project keys, parent project members keys and organization members keys will be included. This behaviour can\nbe changed with 'no_ssh_keys' option to omit any SSH key being added.\n",
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array"
            },
            "public_ipv4_subnet_size": {
              "default": 31,
              "description": "Deprecated. Use ip_addresses. Subnet range for addresses allocated to this device. Your project must have addresses available for a non-default request.",
              "format": "integer",
              "type": "number",
              "x-deprecated": true
            },
            "spot_instance": {
              "type": "boolean"
            },
            "spot_price_max": {
              "format": "float",
              "type": "number"
            },
            "ssh_keys": {
              "description": "A list of new or existing project ssh_keys\nthat should be authorized to access this device (typically\nvia /root/.ssh/authorized_keys). These keys will also\nappear in the device metadata.\n\nThese keys are added in addition to any keys defined by\n  `project_ssh_keys` and `user_ssh_keys`.\n",
              "items": {
                "$ref": "#/components/schemas/SSHKeyInput"
              },
              "type": "array"
            },
            "tags": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "termination_time": {
              "format": "date-time",
              "type": "string"
            },
            "user_ssh_keys": {
              "description": "A list of UUIDs identifying the users\nthat should be authorized to access this device (typically\nvia /root/.ssh/authorized_keys).  These keys will also\nappear in the device metadata.\n\nThe users must be members of the project or organization.\n\nIf no SSH keys are specified (`user_ssh_keys`, `project_ssh_keys`, and `ssh_keys` are all empty lists or omitted),\nall parent project keys, parent project members keys and organization members keys will be included. This behaviour can\nbe changed with 'no_ssh_keys' option to omit any SSH key being added.\n",
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array"
            },
            "userdata": {
              "description": "The userdata presented in the metadata service for this device.  Userdata is fetched and interpreted by the operating system installed on the device. Acceptable formats are determined by the operating system, with the exception of a special iPXE enabling syntax which is handled before the operating system starts.\n\nSee [Server User Data](https://metal.equinix.com/developers/docs/servers/user-data/) and [Provisioning with Custom iPXE](https://metal.equinix.com/developers/docs/operating-systems/custom-ipxe/#provisioning-with-custom-ipxe) for more details.",
              "type": "string",
              "externalDocs": {
                "url": "https://metal.equinix.com/developers/docs/servers/user-data/"
              }
            }
           },
           "required": [
             "plan",
             "operating_system"
           ]
       },
       "DeviceList": {
         "properties": {
           "devices": {
             "items": {
               "$ref": "#/components/schemas/Device"
             },
             "type": "array"
           },
           "meta": {
             "$ref": "#/components/schemas/Meta"
           }
         },
         "type": "object"
       },
       "DeviceUpdateInput": {
         "properties": {
           "always_pxe": {
             "type": "boolean"
           },
           "billing_cycle": {
             "type": "string"
           },
           "customdata": {
             "type": "object"
           },
           "description": {
             "type": "string"
           },
           "hostname": {
             "type": "string"
           },
           "ipxe_script_url": {
             "type": "string"
           },
           "locked": {
             "type": "boolean"
           },
           "network_frozen": {
             "description": "If true, this instance can not be converted to a different network type.",
             "type": "boolean"
           },
           "spot_instance": {
             "type": "boolean"
           },
           "tags": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "userdata": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "DeviceUsage": {
         "properties": {
           "quantity": {
             "type": "string"
           },
           "total": {
             "type": "string"
           },
           "unit": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "DeviceUsageList": {
         "properties": {
           "usages": {
             "items": {
               "$ref": "#/components/schemas/DeviceUsage"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "Email": {
         "properties": {
           "address": {
             "type": "string"
           },
           "default": {
             "type": "boolean"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "verified": {
             "type": "boolean"
           }
         },
         "type": "object"
       },
       "EmailInput": {
         "properties": {
           "address": {
             "type": "string"
           },
           "default": {
             "type": "boolean"
           }
         },
         "required": [
           "address"
         ],
         "type": "object"
       },
       "Entitlement": {
         "properties": {
           "description": {
             "type": "string"
           },
           "feature_access": {
             "type": "object"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "instance_quota": {
             "type": "object"
           },
           "ip_quota": {
             "type": "object"
           },
           "name": {
             "type": "string"
           },
           "project_quota": {
             "default": 0,
             "type": "integer"
           },
           "slug": {
             "type": "string"
           },
           "volume_limits": {
             "type": "object"
           },
           "volume_quota": {
             "type": "object"
           },
           "weight": {
             "type": "integer"
           }
         },
         "required": [
           "id",
           "slug",
           "weight"
         ],
         "type": "object"
       },
       "Error": {
         "description": "Error responses are included with 4xx and 5xx HTTP responses from the API service. Either \"error\" or \"errors\" will be set.",
         "properties": {
           "error": {
             "description": "A description of the error that caused the request to fail.",
             "type": "string"
           },
           "errors": {
             "description": "A list of errors that contributed to the request failing.",
             "items": {
               "description": "An error message that contributed to the request failing.",
               "type": "string"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "Event": {
         "properties": {
           "body": {
             "type": "string"
           },
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "interpolated": {
             "type": "string"
           },
           "relationships": {
             "items": {
               "$ref": "#/components/schemas/Href"
             },
             "type": "array"
           },
           "state": {
             "type": "string"
           },
           "type": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "EventList": {
         "properties": {
           "events": {
             "items": {
               "$ref": "#/components/schemas/Event"
             },
             "type": "array"
           },
           "meta": {
             "$ref": "#/components/schemas/Meta"
           }
         },
         "type": "object"
       },
       "FabricServiceToken": {
         "properties": {
           "expires_at": {
             "description": "The expiration date and time of the Fabric service token. Once a service token is expired, it is no longer redeemable.",
             "format": "date-time",
             "type": "string"
           },
           "id": {
             "description": "The service token UUID that can be used on the Fabric Portal to create an connection from Metal to another Fabric service provider.",
             "format": "uuid",
             "type": "string"
           },
           "max_allowed_speed": {
             "description": "The maximum speed that can be selected on the Fabric Portal when configuring a connection with the service token. The speed is recorded in bps, but can be set by using any of the following units: 'bps', 'mbps', or 'gbps'. This speed is automatically capped depending on the tier of the organization. If you would like to upgrade to another tier, please contact our Support team.",
             "example": "'200000000' or '200mbps'",
             "type": "string"
           },
           "role": {
             "description": "Either primary or redundant, depending on the role of the connection port the token is associated with.",
             "enum": [
               "primary",
               "redundant"
             ],
             "type": "string"
           },
           "service_token_type": {
             "description": "The type of service token that has been created. Currently, only A-side service tokens are available.",
             "enum": [
               "a_side"
             ],
             "type": "string"
           },
           "state": {
             "description": "The state of the service token that corresponds with the service token state on Fabric. An inactive state refers to a token that has not been redeemed yet on the Fabric side, an active state refers to a token that has already been redeemed, and an expired state refers to a token that has reached its expiry time.",
             "enum": [
               "inactive",
               "active",
               "expired"
             ],
             "type": "string"
           }
         },
         "type": "object"
       },
       "Facility": {
         "properties": {
           "address": {
             "$ref": "#/components/schemas/Address"
           },
           "code": {
             "type": "string"
           },
           "features": {
             "example": [
               "baremetal",
               "backend_transfer",
               "global_ipv4"
             ],
             "items": {
               "enum": [
                 "baremetal",
                 "backend_transfer",
                 "layer_2",
                 "global_ipv4",
                 "ibx"
               ],
               "type": "string"
             },
             "type": "array"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "ip_ranges": {
             "description": "IP ranges registered in facility. Can be used for GeoIP location",
             "example": [
               "2604:1380::/36",
               "147.75.192.0/21"
             ],
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "metro": {
             "allOf": [
               {
                 "$ref": "#/components/schemas/Metro"
               },
               {
                 "description": "The metro the facility is in"
               }
             ]
           },
           "name": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "FacilityList": {
         "properties": {
           "facilities": {
             "items": {
               "$ref": "#/components/schemas/Facility"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "GlobalBgpRange": {
         "properties": {
           "address_family": {
             "type": "integer"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "project": {
             "$ref": "#/components/schemas/Href"
           },
           "range": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "GlobalBgpRangeList": {
         "properties": {
           "global_bgp_ranges": {
             "items": {
               "$ref": "#/components/schemas/GlobalBgpRange"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "HardwareReservation": {
         "properties": {
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "custom_rate": {
             "description": "Amount that will be charged for every billing_cycle.",
             "example": 1050.5,
             "format": "float",
             "type": "number"
           },
           "device": {
             "$ref": "#/components/schemas/Device"
           },
           "facility": {
             "$ref": "#/components/schemas/Facility"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "need_of_service": {
             "description": "Whether this Device requires assistance from Metal Equinix.",
             "type": "boolean"
           },
           "plan": {
             "$ref": "#/components/schemas/Plan"
           },
           "project": {
             "$ref": "#/components/schemas/Project"
           },
           "provisionable": {
             "description": "Whether the reserved server is provisionable or not. Spare devices can't be provisioned unless they are activated first.",
             "type": "boolean"
           },
           "short_id": {
             "description": "Short version of the ID.",
             "format": "string",
             "type": "string"
           },
           "spare": {
             "description": "Whether the Hardware Reservation is a spare. Spare Hardware Reservations are used when a Hardware Reservations requires service from Metal Equinix",
             "type": "boolean"
           },
           "switch_uuid": {
             "description": "Switch short id. This can be used to determine if two devices are connected to the same switch, for example.",
             "type": "string"
           }
         },
         "type": "object"
       },
       "HardwareReservationList": {
         "properties": {
           "hardware_reservations": {
             "items": {
               "$ref": "#/components/schemas/HardwareReservation"
             },
             "type": "array"
           },
           "meta": {
             "$ref": "#/components/schemas/Meta"
           }
         },
         "type": "object"
       },
       "Href": {
         "properties": {
           "href": {
             "type": "string"
           }
         },
         "required": [
           "href"
         ],
         "type": "object"
       },
       "HrefOnly": {
         "allOf": [{"$ref": "#/components/schemas/Href"}],
         "additionalProperties": false
       },
       "IPAssignment": {
         "properties": {
           "address": {
             "type": "string"
           },
           "address_family": {
             "type": "integer"
           },
           "assigned_to": {
             "$ref": "#/components/schemas/Href"
           },
           "cidr": {
             "type": "integer"
           },
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "enabled": {
             "type": "boolean"
           },
           "gateway": {
             "type": "string"
           },
           "global_ip": {
             "type": "boolean"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "manageable": {
             "type": "boolean"
           },
           "management": {
             "type": "boolean"
           },
           "metro": {
             "allOf": [
               {
                 "$ref": "#/components/schemas/Metro"
               },
               {
                 "description": "The metro the IP address is in"
               }
             ]
           },
           "netmask": {
             "type": "string"
           },
           "network": {
             "type": "string"
           },
           "parent_block": {
             "$ref": "#/components/schemas/ParentBlock"
           },
           "public": {
             "type": "boolean"
           }
         },
         "type": "object"
       },
       "IPAssignmentInput": {
         "properties": {
           "address": {
             "type": "string"
           },
           "customdata": {
             "type": "object"
           },
           "manageable": {
             "type": "boolean"
           }
         },
         "required": [
           "address"
         ],
         "type": "object"
       },
       "IPAssignmentList": {
         "properties": {
           "ip_addresses": {
             "items": {
               "$ref": "#/components/schemas/IPAssignment"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "IPAvailabilitiesList": {
         "properties": {
           "available": {
             "items": {
               "type": "string"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "IPReservation": {
         "description": "Base class for all IP Reservations",
         "properties": {
           "address_family": {
             "type": "integer"
           },
           "bill": {
             "type": "boolean"
           },
           "cidr": {
             "type": "integer"
           },
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "manageable": {
             "type": "boolean"
           },
           "management": {
             "type": "boolean"
           },
           "metal_gateway": {
             "$ref": "#/components/schemas/MetalGatewayLite"
           },
           "metro": {
             "allOf": [
               {
                 "$ref": "#/components/schemas/Metro"
               },
               {
                 "description": "The metro the IP reservation is in. As long as the IP reservation has a metro, it can be used on a metro level. Can be null if requesting an IP reservation in a facility that is not in a metro."
               }
             ]
           },
           "netmask": {
             "type": "string"
           },
           "network": {
             "type": "string"
           },
           "public": {
             "type": "boolean"
           },
           "state": {
             "type": "string"
           },
           "tags": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "details": {
             "type": "string"
           },
           "customdata": {
             "type": "object"
           },
           "project": {
             "$ref": "#/components/schemas/Project"
           },
           "project_lite": {
             "$ref": "#/components/schemas/Href"
           },
           "address": {
             "type": "string"
           },
           "gateway": {
             "type": "string"
           },
           "type": {
             "type": "string"
           }
         },
         "required": ["type"],
         "discriminator": {
           "propertyName": "type",
           "mapping": {
             "vrf": "#/components/schemas/VrfIPReservation",
             "global_ipv4": "#/components/schemas/DefaultIPReservation",
             "public_ipv4": "#/components/schemas/DefaultIPReservation",
             "private_ipv4": "#/components/schemas/DefaultIPReservation",
             "public_ipv6": "#/components/schemas/DefaultIPReservation"
           }
         }
       },
       "DefaultIPReservation": {
         "allOf": [{"$ref": "#/components/schemas/IPReservation"}, {
           "properties": {
             "addon": {
               "type": "boolean"
             },
             "assignments": {
               "items": {
                 "$ref": "#/components/schemas/IPAssignment"
               },
               "type": "array"
             },
             "enabled": {
               "type": "boolean"
             },
             "facility": {
               "allOf": [
                 {
                   "$ref": "#/components/schemas/Facility"
                 },
                 {
                   "description": "The facility the IP reservation is in. If the facility the IP reservation was requested in is in a metro, a metro value will also be set, and the subsequent IP reservation can be used on a metro level. Can be null if requesting an IP reservation in a metro."
                 }
               ]
             },
             "global_ip": {
               "type": "boolean"
             },
             "requested_by": {
               "$ref": "#/components/schemas/User"
             },
             "available": {
               "type": "string"
             }
           }
         }
         ],
         "additionalProperties": false,
         "type": "object"
       },
       "IPReservationList": {
         "properties": {
           "ip_addresses": {
             "items": {
               "$ref": "#/components/schemas/IPReservation"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "DefaultIPReservationCreateInput": {
         "properties": {
           "comments": {
             "type": "string"
           },
           "customdata": {
             "type": "object"
           },
           "details": {
             "type": "string"
           },
           "facility": {
             "type": "string"
           },
           "fail_on_approval_required": {
             "type": "boolean"
           },
           "metro": {
             "description": "The code of the metro you are requesting the IP reservation in.",
             "example": "SV",
             "type": "string"
           },
           "quantity": {
             "type": "integer"
           },
           "tags": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "type": {
             "type": "string"
           }
         },
         "required": [
           "type",
           "quantity"
         ],
         "type": "object"
       },
       "InstancesBatchCreateInput": {
         "properties": {
           "batches": {
             "items": {
               "properties": {
                 "always_pxe": {
                   "type": "boolean"
                 },
                 "billing_cycle": {
                   "type": "string"
                 },
                 "customdata": {
                   "type": "object"
                 },
                 "description": {
                   "type": "string"
                 },
                 "facility": {
                   "description": "Array of facility codes the batch can use for provisioning. This param also takes a string if you want the batch to be fulfilled in only one facility. Cannot be set if the metro is already set.",
                   "items": {
                     "type": "string"
                   },
                   "type": "array"
                 },
                 "features": {
                   "items": {
                     "type": "string"
                   },
                   "type": "array"
                 },
                 "hostname": {
                   "type": "string"
                 },
                 "hostnames": {
                   "items": {
                     "type": "string"
                   },
                   "type": "array"
                 },
                 "ip_addresses": {
                   "items": {
                     "properties": {
                       "address_family": {
                         "description": "Address Family for IP Address",
                         "enum": [
                           4,
                           6
                         ],
                         "example": 4,
                         "format": "integer",
                         "type": "number"
                       },
                       "cidr": {
                         "description": "Cidr Size for the IP Block created. Valid values depends on the operating system been provisioned (28..32 for IPv4 addresses, 124..127 for IPv6 addresses).",
                         "example": 28,
                         "format": "integer",
                         "type": "number"
                       },
                       "ip_reservations": {
                         "description": "UUIDs of any IP reservations to use when assigning IPs",
                         "items": {
                           "type": "string"
                         },
                         "type": "array"
                       },
                       "public": {
                         "default": true,
                         "description": "Address Type for IP Address",
                         "example": false,
                         "type": "boolean"
                       }
                     },
                     "type": "object"
                   },
                   "type": "array"
                 },
                 "locked": {
                   "type": "boolean"
                 },
                 "metro": {
                   "description": "The metro ID or code the batch can use for provisioning. Cannot be set if the facility is already set.",
                   "type": "string"
                 },
                 "no_ssh_keys": {
                   "type": "boolean"
                 },
                 "operating_system": {
                   "type": "string"
                 },
                 "plan": {
                   "type": "string"
                 },
                 "project_ssh_keys": {
                   "items": {
                     "format": "uuid",
                     "type": "string"
                   },
                   "type": "array"
                 },
                 "tags": {
                   "items": {
                     "type": "string"
                   },
                   "type": "array"
                 },
                 "termination_time": {
                   "format": "date-time",
                   "type": "string"
                 },
                 "user_ssh_keys": {
                   "description": "The UUIDs of users whose SSH keys should be included on the provisioned device.",
                   "items": {
                     "format": "uuid",
                     "type": "string"
                   },
                   "type": "array"
                 },
                 "userdata": {
                   "type": "string"
                 }
               },
               "type": "object"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "Interconnection": {
         "properties": {
           "contact_email": {
             "type": "string"
           },
           "description": {
             "type": "string"
           },
           "facility": {
             "$ref": "#/components/schemas/Href"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "metro": {
             "allOf": [
               {
                 "$ref": "#/components/schemas/Metro"
               },
               {
                 "description": "Details of the metro the facility is in"
               }
             ]
           },
           "mode": {
             "description": "The mode of the connection (only relevant to dedicated connections). Shared connections won't have this field. Can be either 'standard' or 'tunnel'.\n  The default mode of a dedicated connection is 'standard'. The mode can only be changed when there are no associated virtual circuits on the connection.\n  In tunnel mode, an 802.1q tunnel is added to a port to send/receive double tagged packets from server instances.",
             "enum": [
               "standard",
               "tunnel"
             ],
             "example": "standard",
             "type": "string"
           },
           "name": {
             "type": "string"
           },
           "organization": {
             "$ref": "#/components/schemas/Href"
           },
           "ports": {
             "items": {
               "$ref": "#/components/schemas/InterconnectionPort"
             },
             "type": "array"
           },
           "redundancy": {
             "type": "string"
           },
           "service_tokens": {
             "items": {
               "$ref": "#/components/schemas/FabricServiceToken"
             },
             "type": "array"
           },
           "speed": {
             "description": "The connection's speed in bps.",
             "type": "integer"
           },
           "status": {
             "type": "string"
           },
           "tags": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "type": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "InterconnectionCreateInput": {
         "properties": {
           "contact_email": {
             "type": "string"
           },
           "description": {
             "type": "string"
           },
           "metro": {
             "description": "A Metro ID or code.",
             "type": "string"
           },
           "mode": {
             "description": "The mode of the connection (only relevant to dedicated connections). Shared connections won't have this field. Can be either 'standard' or 'tunnel'.\n  The default mode of a dedicated connection is 'standard'. The mode can only be changed when there are no associated virtual circuits on the connection.\n  In tunnel mode, an 802.1q tunnel is added to a port to send/receive double tagged packets from server instances.",
             "enum": [
               "standard",
               "tunnel"
             ],
             "example": "standard",
             "type": "string"
           },
           "name": {
             "type": "string"
           },
           "project": {
             "type": "string"
           },
           "redundancy": {
             "description": "Either 'primary' or 'redundant'.",
             "type": "string"
           },
           "service_token_type": {
             "description": "Can only be set to 'a_side' to create a shared connection with an A-side Fabric service token. This parameter is included in the specification as a developer preview and is generally unavailable. Please contact our Support team for more details.",
             "enum": [
               "a_side"
             ],
             "example": "a_side",
             "type": "string"
           },
           "speed": {
             "description": "A connection speed, in bps, mbps, or gbps. Ex: '100000000' or '100 mbps'.",
             "type": "string"
           },
           "tags": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "type": {
             "description": "Either 'shared' or 'dedicated'.",
             "type": "string"
           },
           "vlans": {
             "description": "A list of one or two metro-based VLANs that will be set on the primary and/or secondary (if redundant) virtual circuits respectively when creating a shared connection. VLANs can also be set after the connection is created, but are required to activate the connection. This parameter is included in the specification as a developer preview and is generally unavailable. Please contact our Support team for more details.",
             "example": [
               1000,
               1001
             ],
             "items": {
               "type": "integer"
             },
             "type": "array"
           }
         },
         "required": [
           "name",
           "metro",
           "type",
           "redundancy"
         ],
         "type": "object"
       },
       "InterconnectionList": {
         "properties": {
           "interconnections": {
             "items": {
               "$ref": "#/components/schemas/Interconnection"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "InterconnectionPort": {
         "properties": {
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "organization": {
             "$ref": "#/components/schemas/Href"
           },
           "role": {
             "description": "Either 'primary' or 'secondary'.",
             "type": "string"
           },
           "status": {
             "type": "string"
           },
           "switch_id": {
             "description": "A switch 'short ID'",
             "type": "string"
           },
           "virtual_circuits": {
             "$ref": "#/components/schemas/VirtualCircuitList"
           }
         },
         "type": "object"
       },
       "InterconnectionPortList": {
         "properties": {
           "ports": {
             "items": {
               "$ref": "#/components/schemas/InterconnectionPort"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "InterconnectionUpdateInput": {
         "properties": {
           "contact_email": {
             "type": "string"
           },
           "description": {
             "type": "string"
           },
           "mode": {
             "description": "The mode of the connection (only relevant to dedicated connections). Shared connections won't have this field. Can be either 'standard' or 'tunnel'.\n  The default mode of a dedicated connection is 'standard'. The mode can only be changed when there are no associated virtual circuits on the connection.\n  In tunnel mode, an 802.1q tunnel is added to a port to send/receive double tagged packets from server instances.",
             "enum": [
               "standard",
               "tunnel"
             ],
             "example": "standard",
             "type": "string"
           },
           "name": {
             "type": "string"
           },
           "redundancy": {
             "description": "Updating from 'redundant' to 'primary' will remove a secondary port, while updating from 'primary' to 'redundant' will add one.",
             "type": "string"
           },
           "tags": {
             "items": {
               "type": "string"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "Invitation": {
         "properties": {
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "invitation": {
             "$ref": "#/components/schemas/Href"
           },
           "invited_by": {
             "$ref": "#/components/schemas/Href"
           },
           "invitee": {
             "type": "string"
           },
           "organization": {
             "$ref": "#/components/schemas/Href"
           },
           "projects_ids": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "roles": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "updated_at": {
             "format": "date-time",
             "type": "string"
           }
         },
         "type": "object"
       },
       "InvitationInput": {
         "properties": {
           "invitee": {
             "type": "string"
           },
           "message": {
             "type": "string"
           },
           "projects_ids": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "roles": {
             "items": {
               "type": "string"
             },
             "type": "array"
           }
         },
         "required": [
           "invitee"
         ],
         "type": "object"
       },
       "InvitationList": {
         "properties": {
           "invitations": {
             "items": {
               "$ref": "#/components/schemas/Membership"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "License": {
         "properties": {
           "description": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "license_key": {
             "type": "string"
           },
           "licensee_product": {
             "$ref": "#/components/schemas/Href"
           },
           "project": {
             "$ref": "#/components/schemas/Href"
           },
           "size": {
             "type": "number"
           }
         },
         "type": "object"
       },
       "LicenseCreateInput": {
         "properties": {
           "description": {
             "type": "string"
           },
           "licensee_product_id": {
             "type": "string"
           },
           "size": {
             "type": "number"
           }
         },
         "type": "object"
       },
       "LicenseList": {
         "properties": {
           "licenses": {
             "items": {
               "$ref": "#/components/schemas/License"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "LicenseUpdateInput": {
         "properties": {
           "description": {
             "type": "string"
           },
           "size": {
             "type": "number"
           }
         },
         "type": "object"
       },
       "Membership": {
         "properties": {
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "project": {
             "$ref": "#/components/schemas/Href"
           },
           "roles": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "updated_at": {
             "format": "date-time",
             "type": "string"
           },
           "user": {
             "$ref": "#/components/schemas/Href"
           }
         },
         "type": "object"
       },
       "MembershipInput": {
         "properties": {
           "role": {
             "items": {
               "type": "string"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "MembershipList": {
         "properties": {
           "memberships": {
             "items": {
               "$ref": "#/components/schemas/Membership"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "Meta": {
         "properties": {
           "first": {
             "$ref": "#/components/schemas/Href"
           },
           "last": {
             "$ref": "#/components/schemas/Href"
           },
           "next": {
             "$ref": "#/components/schemas/Href"
           },
           "previous": {
             "$ref": "#/components/schemas/Href"
           },
           "self": {
             "$ref": "#/components/schemas/Href"
           },
           "total": {
             "type": "integer"
           }
         },
         "type": "object"
       },
       "MetalGateway": {
         "properties": {
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "created_by": {
             "$ref": "#/components/schemas/Href"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "ip_reservation": {
             "oneOf": [
               {"$ref": "#/components/schemas/IPReservation"},
               {"$ref": "#/components/schemas/HrefOnly"}
             ]
           },
           "project": {
             "$ref": "#/components/schemas/Project"
           },
           "state": {
             "description": "The current state of the Metal Gateway. 'Ready' indicates the gateway record has been configured, but is currently not active on the network. 'Active' indicates the gateway has been configured on the network. 'Deleting' is a temporary state used to indicate that the gateway is in the process of being un-configured from the network, after which the gateway record will be deleted.",
             "enum": [
               "ready",
               "active",
               "deleting"
             ],
             "type": "string"
           },
           "updated_at": {
             "format": "date-time",
             "type": "string"
           },
           "virtual_network": {
             "$ref": "#/components/schemas/VirtualNetwork"
           },
           "vrf": {
             "$ref": "#/components/schemas/Vrf"
           }
         },
         "type": "object"
       },
       "MetalGatewayCreateInput": {
         "properties": {
           "ip_reservation_id": {
             "description": "The UUID of an IP reservation that belongs to the same project as where the metal gateway will be created in. This field is required unless the private IPv4 subnet size is specified.",
             "format": "uuid",
             "type": "string"
           },
           "private_ipv4_subnet_size": {
             "description": "The subnet size (8, 16, 32, 64, or 128) of the private IPv4 reservation that will be created for the metal gateway. This field is required unless a project IP reservation was specified.\n          Please keep in mind that the number of private metal gateway ranges are limited per project. If you would like to increase the limit per project, please contact support for assistance.",
             "type": "integer"
           },
           "virtual_network_id": {
             "description": "The UUID of a metro virtual network that belongs to the same project as where the metal gateway will be created in.",
             "format": "uuid",
             "type": "string"
           }
         },
         "required": [
           "virtual_network_id"
         ],
         "type": "object"
       },
       "MetalGatewayList": {
         "properties": {
           "metal_gateways": {
             "items": {
                   "$ref": "#/components/schemas/MetalGateway"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "MetalGatewayLite": {
         "properties": {
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "gateway_address": {
             "description": "The gateway address with subnet CIDR value for this Metal Gateway. For example, a Metal Gateway using an IP reservation with block 10.1.2.0/27 would have a gateway address of 10.1.2.1/27.",
             "type": "string"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "state": {
             "description": "The current state of the Metal Gateway. 'Ready' indicates the gateway record has been configured, but is currently not active on the network. 'Active' indicates the gateway has been configured on the network. 'Deleting' is a temporary state used to indicate that the gateway is in the process of being un-configured from the network, after which the gateway record will be deleted.",
             "enum": [
               "ready",
               "active",
               "deleting"
             ],
             "type": "string"
           },
           "updated_at": {
             "format": "date-time",
             "type": "string"
           },
           "vlan": {
             "description": "The VLAN id of the Virtual Network record associated to this Metal Gateway. Example: 1001.",
             "type": "number"
           }
         },
         "type": "object"
       },
       "Metro": {
         "properties": {
           "code": {
             "type": "string"
           },
           "country": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "name": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "MetroCapacityList": {
         "properties": {
           "capacity": {
             "$ref": "#/components/schemas/MetroCapacityReport"
           }
         },
         "type": "object"
       },
       "MetroCapacityReport": {
         "properties": {
           "am": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "at": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "ch": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "da": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "dc": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "fr": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "hk": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "la": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "ld": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "md": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "ny": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "pa": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "se": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "sg": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "sl": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "sp": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "sv": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "sy": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "tr": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           },
           "ty": {
             "$ref": "#/components/schemas/CapacityPerFacility"
           }
         },
         "type": "object"
       },
       "MetroList": {
         "properties": {
           "metros": {
             "items": {
               "$ref": "#/components/schemas/Metro"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "MetroServerInfo": {
         "properties": {
           "metro": {
             "description": "The metro ID or code to check the capacity in.",
             "type": "string"
           },
           "plan": {
             "description": "The plan ID or slug to check the capacity of.",
             "type": "string"
           },
           "quantity": {
             "description": "The number of servers to check the capacity of.",
             "type": "string"
           }
         },
         "type": "object"
       },
       "NewPassword": {
         "properties": {
           "new_password": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "OperatingSystem": {
         "properties": {
           "distro": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "licensed": {
             "description": "Licenced OS is priced according to pricing property",
             "type": "boolean"
           },
           "name": {
             "type": "string"
           },
           "preinstallable": {
             "description": "Servers can be already preinstalled with OS in order to shorten provision time.",
             "type": "boolean"
           },
           "pricing": {
             "description": "This object contains price per time unit and optional multiplier value if licence price depends on hardware plan or components (e.g. number of cores)",
             "type": "object"
           },
           "provisionable_on": {
             "items": {
               "type": "string"
             },
             "type": "array"
           },
           "slug": {
             "type": "string"
           },
           "version": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "OperatingSystemList": {
         "properties": {
           "operating_systems": {
             "items": {
               "$ref": "#/components/schemas/OperatingSystem"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "Organization": {
         "properties": {
           "address": {
             "$ref": "#/components/schemas/Address"
           },
           "billing_address": {
             "$ref": "#/components/schemas/Address"
           },
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "credit_amount": {
             "format": "float",
             "type": "number"
           },
           "customdata": {
             "type": "object"
           },
           "description": {
             "type": "string"
           },
           "enforce_2fa_at": {
             "description": "Force to all members to have enabled the two factor authentication after that date, unless the value is null",
             "format": "date-time",
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "logo": {
             "format": "binary",
             "type": "string"
           },
           "members": {
             "items": {
               "$ref": "#/components/schemas/Href"
             },
             "type": "array"
           },
           "memberships": {
             "items": {
               "$ref": "#/components/schemas/Href"
             },
             "type": "array"
           },
           "name": {
             "type": "string"
           },
           "projects": {
             "items": {
               "$ref": "#/components/schemas/Href"
             },
             "type": "array"
           },
           "terms": {
             "type": "integer"
           },
           "twitter": {
             "type": "string"
           },
           "updated_at": {
             "format": "date-time",
             "type": "string"
           },
           "website": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "OrganizationInput": {
         "properties": {
           "address": {
             "$ref": "#/components/schemas/Address"
           },
           "billing_address": {
             "$ref": "#/components/schemas/Address"
           },
           "customdata": {
             "type": "object"
           },
           "description": {
             "type": "string"
           },
           "enforce_2fa_at": {
             "description": "Force to all members to have enabled the two factor authentication after that date, unless the value is null",
             "format": "date-time",
             "type": "string"
           },
           "logo": {
             "format": "binary",
             "type": "string"
           },
           "name": {
             "type": "string"
           },
           "twitter": {
             "type": "string"
           },
           "website": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "OrganizationList": {
         "properties": {
           "meta": {
             "$ref": "#/components/schemas/Meta"
           },
           "organizations": {
             "items": {
               "$ref": "#/components/schemas/Organization"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "ParentBlock": {
         "properties": {
           "cidr": {
             "type": "integer"
           },
           "href": {
             "type": "string"
           },
           "netmask": {
             "type": "string"
           },
           "network": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "PaymentMethod": {
         "properties": {
           "billing_address": {
             "$ref": "#/components/schemas/PaymentMethodBillingAddress"
           },
           "card_type": {
             "type": "string"
           },
           "cardholder_name": {
             "type": "string"
           },
           "created_at": {
             "format": "date-time",
             "type": "string"
           },
           "created_by_user": {
             "$ref": "#/components/schemas/Href"
           },
           "default": {
             "type": "boolean"
           },
           "email": {
             "type": "string"
           },
           "expiration_month": {
             "type": "string"
           },
           "expiration_year": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "name": {
             "type": "string"
           },
           "organization": {
             "$ref": "#/components/schemas/Href"
           },
           "projects": {
             "items": {
               "$ref": "#/components/schemas/Href"
             },
             "type": "array"
           },
           "type": {
             "type": "string"
           },
           "updated_at": {
             "format": "date-time",
             "type": "string"
           }
         },
         "type": "object"
       },
       "PaymentMethodBillingAddress": {
         "properties": {
           "country_code_alpha2": {
             "type": "string"
           },
           "postal_code": {
             "type": "string"
           },
           "street_address": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "PaymentMethodCreateInput": {
         "properties": {
           "default": {
             "type": "boolean"
           },
           "name": {
             "type": "string"
           },
           "nonce": {
             "type": "string"
           }
         },
         "required": [
           "name",
           "nonce"
         ],
         "type": "object"
       },
       "PaymentMethodList": {
         "properties": {
           "payment_methods": {
             "items": {
               "$ref": "#/components/schemas/PaymentMethod"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "PaymentMethodUpdateInput": {
         "properties": {
           "billing_address": {
             "type": "object"
           },
           "cardholder_name": {
             "type": "string"
           },
           "default": {
             "type": "boolean"
           },
           "expiration_month": {
             "type": "string"
           },
           "expiration_year": {
             "type": "integer"
           },
           "name": {
             "type": "string"
           }
         },
         "type": "object"
       },
       "Plan": {
         "properties": {
           "available_in": {
             "description": "Shows which facilities the plan is available in, and the facility-based price if it is different from the default price.",
             "items": {
               "$ref": "#/components/schemas/Href"
             },
             "type": "array"
           },
           "deployment_types": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "available_in_metros": {
              "description": "Shows which metros the plan is available in, and the metro-based price if it is different from the default price.",
              "items": {
                "properties": {
                  "href": {
                    "type": "string"
                  },
                  "price": {
                    "properties": {
                      "hour": {
                        "format": "float",
                        "type": "number"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              },
              "type": "array"
           },
           "class": {
             "type": "string"
           },
           "description": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "legacy": {
             "type": "boolean"
           },
           "line": {
             "type": "string"
           },
           "name": {
             "type": "string"
           },
           "pricing": {
             "type": "object"
           },
           "slug": {
             "type": "string"
           },
           "specs": {
             "type": "object"
           }
         },
         "type": "object"
       },
       "PlanList": {
         "properties": {
           "plans": {
             "items": {
               "$ref": "#/components/schemas/Plan"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "Port": {
         "properties": {
           "data": {
             "type": "object"
           },
           "disbond_operation_supported": {
             "description": "Indicates whether or not the bond can be broken on the port (when applicable).",
             "type": "boolean"
           },
           "href": {
             "type": "string"
           },
           "id": {
             "format": "uuid",
             "type": "string"
           },
           "name": {
             "type": "string"
           },
           "type": {
             "type": "string"
           },
           "virtual_networks": {
             "items": {
               "$ref": "#/components/schemas/Href"
             },
             "type": "array"
           }
         },
         "type": "object"
       },
       "PortAssignInput": {
         "properties": {
           "vnid": {
             "description": "Virtual Network ID. May be the UUID of the Virtual Network record, or the VLAN value itself.\n",
             "type": "string",
             "example": "1001"
           }
         },
[...]
