/**
 * Packet API
 * This is the API for Packet. Interact with your devices, user account, and projects.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: help@packet.net
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package net.packet.client.api;

import com.sun.jersey.api.client.GenericType;

import net.packet.client.ApiException;
import net.packet.client.ApiClient;
import net.packet.client.Configuration;
import net.packet.client.model.*;
import net.packet.client.Pair;

import net.packet.client.model.SnapshotPolicy;


import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@javax.annotation.Generated(value = "class io.swagger.codegen.languages.JavaClientCodegen", date = "2017-01-17T14:09:01.179-05:00")
public class VolumeSnapshotPoliciesApi {
  private ApiClient apiClient;

  public VolumeSnapshotPoliciesApi() {
    this(Configuration.getDefaultApiClient());
  }

  public VolumeSnapshotPoliciesApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Create a volume snapshot policy
   * Creates a new snapshot policy of your volume.
   * @param id Volume UUID (required)
   * @param snapshotFrequency Snapshot frequency (required)
   * @param snapshotCount Snapshot count (optional)
   * @return SnapshotPolicy
   * @throws ApiException if fails to make API call
   */
  public SnapshotPolicy createVolumeSnapshotPolicy(String id, String snapshotFrequency, Integer snapshotCount) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling createVolumeSnapshotPolicy");
    }
    
    // verify the required parameter 'snapshotFrequency' is set
    if (snapshotFrequency == null) {
      throw new ApiException(400, "Missing the required parameter 'snapshotFrequency' when calling createVolumeSnapshotPolicy");
    }
    
    // create path and map variables
    String localVarPath = "/storage/{id}/snapshot-policies".replaceAll("\\{format\\}","json")
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPairs("", "snapshot_count", snapshotCount));
    localVarQueryParams.addAll(apiClient.parameterToPairs("", "snapshot_frequency", snapshotFrequency));

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "x_auth_token" };

    GenericType<SnapshotPolicy> localVarReturnType = new GenericType<SnapshotPolicy>() {};
    return apiClient.invokeAPI(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Delete the volume snapshot policy
   * Deletes the volume snapshot policy.
   * @param id Snapshot Policy UUID (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteVolumeSnapshotPolicy(String id) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteVolumeSnapshotPolicy");
    }
    
    // create path and map variables
    String localVarPath = "/storage/snapshot-policies/{id}".replaceAll("\\{format\\}","json")
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "x_auth_token" };


    apiClient.invokeAPI(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, null);
  }
  /**
   * Update the volume snapshot policy
   * Updates the volume snapshot policy.
   * @param id Snapshot Policy UUID (required)
   * @param snapshotFrequency Snapshot frequency (required)
   * @param snapshotCount Snapshot count (optional)
   * @return SnapshotPolicy
   * @throws ApiException if fails to make API call
   */
  public SnapshotPolicy updateVolumeSnapshotPolicy(String id, String snapshotFrequency, Integer snapshotCount) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling updateVolumeSnapshotPolicy");
    }
    
    // verify the required parameter 'snapshotFrequency' is set
    if (snapshotFrequency == null) {
      throw new ApiException(400, "Missing the required parameter 'snapshotFrequency' when calling updateVolumeSnapshotPolicy");
    }
    
    // create path and map variables
    String localVarPath = "/storage/snapshot-policies/{id}".replaceAll("\\{format\\}","json")
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPairs("", "snapshot_count", snapshotCount));
    localVarQueryParams.addAll(apiClient.parameterToPairs("", "snapshot_frequency", snapshotFrequency));

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "x_auth_token" };

    GenericType<SnapshotPolicy> localVarReturnType = new GenericType<SnapshotPolicy>() {};
    return apiClient.invokeAPI(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
}
